{:deps {com.biffweb.examples.reframe/tasks {:local/root "bb"}}
 :tasks {;; Used only in local development.
         dev              com.biffweb.examples.reframe.tasks/dev
         css              com.biffweb.tasks/css
         format           com.biffweb.tasks/format
         clean            com.biffweb.tasks/clean
         generate-secrets com.biffweb.tasks/generate-secrets

         ;; Used for interacting with production.
         deploy           com.biffweb.examples.reframe.tasks/deploy
         soft-deploy      com.biffweb.examples.reframe.tasks/soft-deploy
         restart          com.biffweb.tasks/restart
         logs             com.biffweb.tasks/logs
         prod-repl        com.biffweb.tasks/prod-repl
         prod-dev         com.biffweb.tasks/prod-dev

         ;; Internal tasks called by Biff in production.
         run-cmd          com.biffweb.tasks/run-cmd}}
